@import "tailwindcss";


@theme {  
  --color-bg: #e0e0e0;
  --color-bar: #FFCD04 0.8;
  --color-shadow-light: #ffffff;
  --color-shadow-dark: rgba(0, 0, 0, 0.25);
  --shadow-convex : 6px 6px 12px var(--color-shadow-dark), -6px -6px 12px var(--color-shadow-light);
  --shadow-convex-sm : 2px 2px 2px var(--color-shadow-dark), -2px -2px 2px var(--color-shadow-light);
  --shadow-concave : inset 6px 6px 12px var(--color-shadow-dark), inset -6px -6px 12px var(--color-shadow-light);
}